// start global variables
$light: #fff;
$dark: #000;
$green: #71c373;
// end global variables
// start carbon
.carbon {
    .upper {
        @media screen and (max-width: 768px) {
            flex-wrap: wrap;
        }
    }
    h1 {
        @media screen and (max-width: 768px) {
            font-size: 2rem;
        }
    }
}
// end carbon