@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100;400;600;700&display=swap');
// start global variables
$light: #fff;
$dark: #000;
$green: #71c373;
// end global variables
// start article home ar
.home-ar {
    font-family: 'Noto Sans Arabic', sans-serif;
    // start intro ar
    .page-intro-ar {
        @media (min-width: 769px) {
            height: 80vh;
        }
        #app {
            color: $light;
            @media screen and (max-width: 768px) {
                flex-direction: column-reverse;
            }
        }
        .title {
            padding-left: 1em;
            font-size: 6rem;
            width: 50%;
            z-index: 2;
            @media screen and (max-width: 768px) {
                font-size: 4rem;
                text-align: center;
                padding-left: 0;
                width: 100%;
            }
            // start
            > .title-inner {
                display: inline-block;
            }
        }
        @keyframes text-clip {
            from {
                clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
            }
            to {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }
        }
        @keyframes outer-left {
            from {
                transform: translateX(50%);
            }
            to {
                transform: none;
            }
        }
        @keyframes inner-left {
            from {
                transform: translateX(-50%);
            }
            to {
                transform: none;
            }
        }
        .cafe,
        .mozart {
            animation: outer-left 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
        }
        .title-inner {
            display: inline-block;
            animation: inner-left 1s 1s ease both;
        }
        .cafe-inner {
            display: inline-block;
            animation: inner-left 1s 1s ease both,
            text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
        }
        .mozart-inner {
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: $light;
            animation: text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
        }
        .title {
            animation: outer-left 1s 1s ease both;
        }
        .cafe {
            // start
            > .cafe-inner {
                display: inline-block;
            }
        }
        .mozart {
            display: inline-block;
        }
        .image {
            margin-left: 1rem;
            width: 50%;
            animation: image-in 1s cubic-bezier(0.5, 0, 0.1, 1) 2s backwards;
            @media screen and (max-width: 768px) {
                width: 100%;
                margin-left: 0;
            }
            @keyframes image-in {
                from {
                    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
                }
                to {
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                }
            }
            .lg {
                width: 100%;
                height: auto;
                @media screen and (max-width: 768px) {
                    display: none;
                }
            }
            .sm {
                width: 90%;
                @media (min-width: 769px) {
                    display: none;
                }
            }
        }
    }
    // end intro ar
    // start abstract ar
    .abstract-ar,
    .intro-ar {
        @media screen and (max-width: 768px) {
            flex-direction: column-reverse;
        }
        .left-part {
            h1 {
                color: $light;
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke-width: 3px;
                -webkit-text-stroke-color: $light;
            }
        }
        .right-part {
            @media screen and (max-width: 768px) {
                position: relative;
                z-index: 10;
                background-color: rgba(0,0,0,0.8);
            }
            p {
                line-height: 2;
                text-align: end;
                @media screen and (max-width: 768px) {
                    padding-right: 1rem;
                }
            }
        }
    }
    // end abstract ar
    // start changes ar
    .changes-ar {
        .gallery,
        .gallery-2 {
            img {
                width: 30%;
                object-fit: cover;
            }
        }
        h1 {
            @media screen and (max-width: 768px) {
                font-size: 3.5rem;
                text-align: center;
            }
        }
    }
    // end changes ar
    // start causes ar
    .causes-ar {
        .upper-part,
        .footer-part {
            @media screen and (max-width: 768px) {
                flex-wrap: wrap;
                padding: 1rem;
            }
            @media (min-width: 769px) and (max-width: 1024px) {
                padding: 1rem;
                gap: 1rem;
            }
        }
        .footer-part {
            @media screen and (max-width: 768px) {
                flex-direction: column-reverse;
                margin-top: 2rem;
            }
        }
    }
    // end causes ar
    // start sun ar
    .sun-ar {
        background: linear-gradient(to right, #FFFFFF,#FFE484, #FFCC33,#FC9601,#D14009);
        background-size: 400% 400%;
        animation: animate-bg 10s infinite ease-in-out;
        @keyframes animate-bg {
            0% {
                background-position: 0 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0 50%;
            }
        }
        h1 {
            color: $dark;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: $dark;
            @media screen and (max-width: 768px) {
                font-size: 3rem;
                text-align: center;
            }
        }
    }
    // end sun ar
    // start global warming ar
    .global-warming-ar {
        @media screen and (max-width: 768px) {
            flex-direction: column-reverse;
            padding: 1rem;
        }
        @media (min-width: 769px) and (max-width: 1024px) {
            padding: 1rem;
        }
        .left-part {
            p {
                line-height: 2;
            }
        }
    }
    // end global warming ar
    // start global drive ar
    .global-drive-ar {
        @media screen and (max-width: 768px) {
            flex-direction: column-reverse;
            padding: 1rem;
        }
        .left-part {
            h1 {
                @media screen and (max-width: 768px) {
                    font-size: 2rem;
                }
            }
        }
    }
    // end global drive ar
    // start causes global ar
    .causes-global-ar {
        h1 {
            @media screen and (max-width: 768px) {
                font-size: 2rem;
            }
        }
        .upper-part,
        .middle-part,
        .footer-part {
            @media screen and (max-width: 768px) {
                flex-wrap: wrap;
                padding: 1rem;
                gap: 1rem;
            }
        }
        .middle-part {
            @media (min-width: 769px) and (max-width: 1024px) {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
            }
        }
    }
    // end causes global ar
    // start greenhouse ar
    .greenhouse-ar {
        @media screen and (max-width: 768px) {
            flex-direction: column-reverse;
            padding: 1rem;
        }
        img {
            clip-path: polygon(50% 0%, 83% 12%, 93% 41%, 92% 75%, 68% 100%, 32% 100%, 7% 75%, 6% 42%, 17% 12%);
        }
    }
    // end greenhouse ar
    // start talks ar
    .talks-ar {
        @media screen and (max-width: 768px) {
            flex-wrap: wrap;
            padding: 1rem;
        }
        h1 {
            @media screen and (max-width: 768px) {
                font-size: 2rem;
            }
        }
        .right-part {
            @media screen and (max-width: 768px) {
                background-color: rgba(113,194,114,0.8);
                color: $light;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
    // end talks ar
    // start effects ar
    .effects-ar {
        h1 {
            @media screen and (max-width: 768px) {
                font-size: 4rem;
            }
        }
        .upper {
            @media screen and (max-width: 768px) {
                flex-wrap: wrap;
                padding: 1rem;
            }
        }
        .bottom {
            @media screen and (max-width: 768px) {
                flex-wrap: wrap;
            }
            img {
                width: 80%;
                height: 100%;
                @media screen and (max-width: 768px) {
                    width: 100%;
                }
            }
        }
    }
    // end effects ar
    // start effect climate ar
    .effect-climate-ar {
        h1 {
            @media screen and (max-width: 768px) {
                font-size: 2.5rem;
            }
            .content {
                @media screen and (max-width: 768px) {
                    padding: 16rem 0 10rem 0;
                }
            }
        }
    }
    // end effect climate ar
    // start solutions ar
    .solutions-ar {
        h1 {
            @media screen and (max-width: 768px) {
                font-size: 5rem;
                margin-bottom: 3rem;
            }
        }
        .container {
            .box-1,
            .box-2,
            .box-3,
            .box-4,
            .box-5,
            .box-6,
            .box-7,
            .box-8,
            .box-9,
            .box-10 {
                padding: 5rem;
                @media screen and (max-width: 768px) {
                    flex-wrap: wrap;
                    padding: 1rem;
                }
                .left-part {
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
    // end solutions ar
    // start faq ar
    .faq-ar {
        background-image: url('../../../images/blob-scene-haikei.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        cursor: default !important;
        .voice {
            min-height: 100vh;
            .button {
                cursor: pointer !important;
                width: 100px;
                padding: 15px 20px;
                font-size: 16px;
                background: transparent;
                border: none;
                position: relative;
                color: $green;
                z-index: 1;
                }
                
                .button::after,
                .button::before {
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: -99999;
                transition: all .4s;
                }
                
                .button::before {
                transform: translate(0%, 0%);
                width: 100%;
                height: 100%;
                background: $light;
                border-radius: 10px;
                }
                
                .button::after {
                transform: translate(10px, 10px);
                width: 35px;
                height: 35px;
                background: #ffffff15;
                backdrop-filter: blur(5px);
                border-radius: 50px;
                }
                
                .button:hover::before {
                transform: translate(5%, 20%);
                width: 110%;
                height: 110%;
                }
                
                .button:hover::after {
                border-radius: 10px;
                transform: translate(0, 0);
                width: 100%;
                height: 100%;
                }
                
                .button:active::after {
                transition: 0s;
                transform: translate(0, 5%);
                }
                .text {
                .bot {
                    max-width: 75%;
                }
                p {
                    font-family: 'Josefin Sans', sans-serif;
                    @media screen and (max-width: 768px) {
                        font-size: 1rem;
                    }
                }
                }
        }
    }
    // end faq ar
    // start reference ar
    .reference-ar {
        background-color: $green;
        h1 {
            @media screen and (max-width: 768px) {
                font-size: 3rem;
                text-align: center;
            }
        }
    }
    // end reference ar
}
// end article home