// start global variables
$light: #fff;
$dark: #000;
$green: #71c373;
// end global variables
// start sea level ar
.sea-level-ar {
    .heading {
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
        nav {
            @media screen and (max-width: 768px) {
                flex-wrap: wrap;
                justify-content: center;
                margin-right: 0;
                margin-top: 3rem;
            }
            .active {
                color: $green;
            }
            .link {
                cursor: pointer;
                font-size: 18px;
                position: relative;
                white-space: nowrap;
            }
            .link::before,
            .link::after {
                position: absolute;
                width: 100%;
                height: 1px;
                background: $green;
                top: 100%;
                left: 0;
                pointer-events: none;
            }
            .link::before {
                content: '';
                /* show by default */
            }
            .link--elara {
                font-size: 1.3rem;
                @media screen and (max-width: 768px) {
                    font-size: 1.1rem !important;
                }
            }
            .link--elara::before {
                transform-origin: 50% 100%;
                transition: clip-path 0.3s, transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
                clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
            }
            .link--elara:hover::before {
                transform: translate3d(0, 2px, 0) scale3d(1.08, 3, 1);
                clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 50% 100%, 0 100%, 100% 100%, 100% 0%);
            }
            .link--elara span {
                display: inline-block;
                transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
            }
            .link--elara:hover span {
                transform: translate3d(0, -2px, 0);
            }
        }
    }
    .upper {
        @media screen and (max-width: 768px) {
            flex-wrap: wrap;
        }
    }
    h1 {
        @media screen and (max-width: 768px) {
            font-size: 2rem;
            margin-top: 2rem;
        }
    }
}
// end sea level ar